@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Thin-Oblique.otf') format('opentype');
  font-weight: 100;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-ExtraLight-Oblique.otf') format('opentype');
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Light-Oblique.otf') format('opentype');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-SemiLight.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-SemiLight-Oblique.otf') format('opentype');
  font-weight: 350;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Oblique.otf') format('opentype');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Medium-Oblique.otf') format('opentype');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-SemiBold-Oblique.otf') format('opentype');
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Bold-Oblique.otf') format('opentype');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-ExtraBold-Oblique.otf') format('opentype');
  font-weight: 800;
  font-style: oblique;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('BerkeleyMono-Black-Oblique.otf') format('opentype');
  font-weight: 900;
  font-style: oblique;
}
